# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

nrel_tools/rdkit_attempts/
.idea
.idea/
.idea/workspace.xml
tests/temp*
update.sh
*.iml
tests/test_data/gausslog2com/s12but_17_84_f2_s12but_17_84_f2_tpl.com
Goodvibes_output.dat
tests/test_data/aea_goodvibes/aea_out.csv
ethylrad.sh
tests/test_data/run_gauss/ethylrad.sh
/tests/test_data/goodvibes_helper/aea_out.csv
tests/test_data/goodvibes_helper/aea_out_vibes.dat
ethylrad_opt.sh
tests/test_data/goodvibes_helper/ethygly2_tzvp_vibes.dat
tests/test_data/goodvibes_helper/pdc2_eghtsct_vibes.dat
tests/test_data/goodvibes_helper/pdc2_h_vibes.dat
tests/test_data/goodvibes_helper/aea_prod.csv
tests/test_data/goodvibes_helper/aea_prod_vibes.dat
*png
/tests/test_data/run_gauss/ethylrad_opt_stable.sh
/tests/test_data/run_gauss/run_spawn1.ini
/tests/test_data/run_gauss/run_spawn1.slurm
/tests/test_data/run_gauss/run_spawn2.ini
/tests/test_data/run_gauss/run_spawn2.slurm
/tests/test_data/run_gauss/run_spawn_all_new0.ini
/tests/test_data/run_gauss/run_spawn_all_new0.slurm
/tests/test_data/run_gauss/run_spawn_all_new1.ini
/tests/test_data/run_gauss/run_spawn_all_new1.slurm
/tests/test_data/run_gauss/run_spawn_all_new2.ini
/tests/test_data/run_gauss/run_spawn_all_new2.slurm
/tests/test_data/run_gauss/ethylrad.ini
/tests/test_data/run_gauss/ethylrad.slurm
/tests/test_data/run_gauss/water.ini
/tests/test_data/run_gauss/water.slurm
/ts.tpl
/tests/test_data/run_gauss/ethylrad.ini
/tests/test_data/run_gauss/ethylrad.slurm
/f.tpl
/s12but_17_84_f2_t.com
/tests/test_data/gausslog2com/frag_example_fresh_fb.com
/ethylrad.com
/ethylrad.ini
/ethylrad.slurm
/ethylrad0.ini
/ethylrad0.slurm
/ethylrad1.ini
/ethylrad1.slurm
/tests/test_data/gauss_fragment/2011shi_fig5cts_origts_ircf_opt_19_40_cp.com
/tests/test_data/gauss_fragment/2011shi_fig5cts_origts_ircf_opt_19_40_f1.com
/tests/test_data/gauss_fragment/2011shi_fig5cts_origts_ircf_opt_19_40_f2.com
